In [1]:
import re

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [4]:
sample_text = "Python Exercises,PHP exercises."

replace_space_comma_dot = re.sub("\W+",":",sample_text)
                                 
print(replace_space_comma_dot)

Python:Exercises:PHP:exercises:

In [54]:
import pandas as pd

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-

0      hello world

1             test

2    four five six

In [55]:
df = pd.DataFrame({'SUMMARY':['hello, world!','XXXXX test','123four,five:;six...']})

df

                SUMMARY
0         hello, world!
1            XXXXX test
2  123four,five:;six...

In [73]:
pattern ='[^a-z\s]'

In [74]:
df['SUMMARY'] = df['SUMMARY'].str.replace(pattern,'',regex=True)

In [75]:
print(df)

       SUMMARY
0  hello world
1         test
2  fourfivesix

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory

In [85]:
def find_four_characters(string):
    pattern=re.compile(r'\b\w{4}\b')
    matches = pattern.findall(string)
    return matches

In [86]:
find_four_characters("Data Science is used to analyse the data")

['Data', 'used', 'data']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [90]:
def find_three_four_five_characters(string):
    pattern=re.compile(r'\b\w{3,5}\b')
    matches = pattern.findall(string)
    return matches

In [91]:
find_three_four_five_characters("Data Science is used to analyse the data")

['Data', 'used', 'the', 'data']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:

example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data Scientist

In [161]:
def to_remove_parenthesis (strings):
    
    pattern = re.compile(r'\(|\)')
    modified_strings = [pattern.sub("",s)for s in strings]
    return modified_strings

In [162]:
strings=["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"]

In [163]:
expected_output=to_remove_parenthesis(strings)

for s in expected_output:
    print(s)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [169]:
with open(r"C:\Users\surie\OneDrive\Documents\file text.txt") as file:
    for text in file:
        new_text = re.sub(r"\s*\([^)]*\)","",text)
        print(new_text)

Sample Text: ["example", "hr@fliprobo", "github", "Hello", "Data"]

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [177]:
Sample_text = """ImportanceOfRegularExpressionsInPython"""

pattern = r"[A-Z][A-Z]*"

result=re.findall(pattern,Sample_text)

print(result)

['I', 'O', 'R', 'E', 'I', 'P']