In [1]:
import re

# Question 1
Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [4]:
sample_text = "Python Exercises,PHP exercises."

replace_space_comma_dot = re.sub("\W+",":",sample_text)
                                 
print(replace_space_comma_dot)

Python:Exercises:PHP:exercises:

In [54]:
import pandas as pd

# Question 2
Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-

0      hello world

1             test

2    four five six

In [55]:
df = pd.DataFrame({'SUMMARY':['hello, world!','XXXXX test','123four,five:;six...']})

df

                SUMMARY
0         hello, world!
1            XXXXX test
2  123four,five:;six...

In [73]:
pattern ='[^a-z\s]'

In [74]:
df['SUMMARY'] = df['SUMMARY'].str.replace(pattern,'',regex=True)

In [75]:
print(df)

       SUMMARY
0  hello world
1         test
2  fourfivesix

# Question 3
Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory

In [85]:
def find_four_characters(string):
    pattern=re.compile(r'\b\w{4}\b')
    matches = pattern.findall(string)
    return matches

In [86]:
find_four_characters("Data Science is used to analyse the data")

['Data', 'used', 'data']

# Question 4 
Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [90]:
def find_three_four_five_characters(string):
    pattern=re.compile(r'\b\w{3,5}\b')
    matches = pattern.findall(string)
    return matches

In [91]:
find_three_four_five_characters("Data Science is used to analyse the data")

['Data', 'used', 'the', 'data']

# Question 5
Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:

example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data Scientist

In [161]:
def to_remove_parenthesis (strings):
    
    pattern = re.compile(r'\(|\)')
    modified_strings = [pattern.sub("",s)for s in strings]
    return modified_strings

In [162]:
strings=["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"]

In [163]:
expected_output=to_remove_parenthesis(strings)

for s in expected_output:
    print(s)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

# Question 6
Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [169]:
with open(r"C:\Users\surie\OneDrive\Documents\file text.txt") as file:
    for text in file:
        new_text = re.sub(r"\s*\([^)]*\)","",text)
        print(new_text)

Sample Text: ["example", "hr@fliprobo", "github", "Hello", "Data"]

# Question 7
Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [178]:
Sample_text = """ImportanceOfRegularExpressionsInPython"""

pattern = r"[A-Z][^A-Z]*"

result=re.findall(pattern,Sample_text)

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- 
Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [212]:
Sample_Text="""RegularExpression1IsAn2ImportantTopic3InPython"""
    
    
def insert_spaces(string):
    modified_text = re.sub(r'(\d)([A-Za-z]+)',r' \1\2',string)
    return modified_text

In [213]:
expected_output =insert_spaces(Sample_Text)

In [214]:
print(expected_output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

# Question 9
Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [215]:
Sample_Text="""RegularExpression1IsAn2ImportantTopic3InPython"""
    
    
def insert_spaces(string):
    modified_text = re.sub(r'(\d)([A-Za-z]+)',r' \1 \2',string)
    return modified_text

In [217]:
expected_output = insert_spaces(Sample_Text)

In [218]:
print(expected_output)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

# Question 10

Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [219]:
data = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [220]:
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [233]:
data["first_six_letters"] =data["Country"].apply(lambda x:x[0:6])

In [242]:
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_six_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

# Question 11

Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores

In [243]:
def upp_low_num_underscores(text):
    patterns = '^[a-zA-Z0-9_]*$'
    if re.search(patterns,text):
        return "Found a match"
    else:
        return "Not matched!"

In [244]:
upp_low_num_underscores("Data Science is used to analyse the data")

'Not matched!'

In [245]:
upp_low_num_underscores("Data_Science_is_number1_to_analyse_data")

'Found a match'

# Question 12
Write a Python program where a string will start with a specific number.

In [249]:
def specific_number(number):
    patterns = r'^7'
    if re.search(patterns,number):
        return True
    else:
        return False

In [250]:
specific_number("7_67777")

True

In [252]:
specific_number("6888888")

False

# Question 13
Write a Python program to remove leading zeros from an IP address

In [253]:
ip_address = "567.90.007.098"

remove_leading_zeros = re.sub(r'\.[0]*',".",ip_address)

print(remove_leading_zeros)

567.90.7.98

# Question 14
Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format

In [270]:
with open(r"C:\Users\surie\OneDrive\Documents\August 15.txt","r") as file:
    for text in file:
        pattern=r"\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b"
        matches = re.search(pattern,text)
        print(matches.group())

August 15th 1947

# Question 15

Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [273]:
patterns = ["fox","dog","horse"]

Sample_Text = 'The quick brown fox jumps over the lazy dog.'
    
for pattern in patterns:
    if re.search(pattern,Sample_Text):
        print("Matched")
    else:
        print("Not Matched")

Matched
Matched
Not Matched

# Question 16
Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [282]:
pattern ="fox"
Sample_text = 'The quick brown fox jumps over the lazy dog.'
    
match = re.search(pattern,Sample_text)

print(match)

<re.Match object; span=(16, 19), match='fox'>

# Question 17-
Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [289]:
patterns = "exercises"

Sample_text = "Python exercises, PHP exercises, C# exercises"

for match in re.findall(patterns,Sample_text):
    print("Substring within a string :",match)

Substring within a string : exercises
Substring within a string : exercises
Substring within a string : exercises

# Question 18-
Write a Python program to find the occurrence and position of the substrings within a string.

In [293]:
patterns = "exercises"

Sample_text = "Python exercises, PHP exercises, C# exercises"

for match in re.finditer(patterns,Sample_text):
    s = match.start()
    e = match.end()
    print("Substring within a string :",match,"at",s,":",e)

Substring within a string : <re.Match object; span=(7, 16), match='exercises'> at 7 : 16
Substring within a string : <re.Match object; span=(22, 31), match='exercises'> at 22 : 31
Substring within a string : <re.Match object; span=(36, 45), match='exercises'> at 36 : 45

# Question 19
Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [4]:
def date_of_dd_mm_yyyy(date):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',date)

date = "2001-1-21"

print("Date of yyyy-mm-dd ",date,'\n')

print("Date of dd-mm-yyyy",date_of_dd_mm_yyyy(date))

Date of yyyy-mm-dd  2001-1-21

Date of dd-mm-yyyy 21-1-2001

# Question 20
Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [61]:
def find_decimal_numbers(string):
        pattern = re.compile(r"\d+\.\d{1,2}")
        decimal_numbers= pattern.findall(string)
        return decimal_numbers

In [60]:
Sample_Text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

find_decimal_numbers(Sample_Text)

['01.12', '132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

# Question 21
Write a Python program to separate and print the numbers and their position of a given string.

In [77]:
string = """Python is the easy language compared to the others and  also easy to learn,so only it is no. 1 used widely Everywhere"""


for match in re.finditer(r"(\d+).(\b[a-z]+\b)",string):
    print(match.group(1),"\n")
    print("position of a string  :",match.start())

1

position of a string  : 93

# Question 22
Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [78]:
sample_text ='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [79]:
numeric_values = re.findall(r'\d+',sample_text)

print(numeric_values)

['947', '896', '926', '524', '734', '950', '642']

In [81]:
max_value = max(numeric_values)

print(max_value)

950

# Question 23
Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [107]:
sample_text ="RegularExpressionIsAnImportantTopicInPython"

def insert_spaces (string):
    modified_text=re.sub(r'([A-Z][a-z]+)',r'\1 ',string)
    return modified_text

In [108]:
insert_spaces(sample_text)

'Regular Expression Is An Important Topic In Python '

# Question 24
Python regex to find sequences of one upper case letter followed by lower case letters

In [140]:
def upp_low_case(string):
    pattern ='[A-Z][a-z]+$'
    if re.match(pattern,string):
        return "Found a match"
    else:
        return "Not matched"

In [141]:
upp_low_case("Ajnbhjbkkk")

'Found a match'

In [142]:
upp_low_case("ASDggghhhjj")

'Not matched'

In [143]:
upp_low_case("sdfgh")

'Not matched'

# Question 25
Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [151]:
sample_text ="Hello hello world world"

regex= r"\b(\w+)(?:\W+\1\b)+"

x=re.sub(regex,r'\1',sample_text)

print(x)

Hello hello world

# Question 26
Write a python program using RegEx to accept string ending with alphanumeric character.

In [155]:
def alphanumeric_ending(string):
    pattern = re.compile(r'[a-zA-Z0-9]$')
    if re.search(pattern,string):
        print("Accept")
    else:
        print("Discard")
        
sample_text =["siva123","anu@","gunal90000"]

for string in sample_text:
    alphanumeric_ending(string)

Accept
Discard
Accept

# Question 27
Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
    
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [156]:
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [158]:
pattern=r'#\w+'

matches = re.findall(pattern,sample_text)

print(matches)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28
Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
    
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [169]:
sample_text= """@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"""

In [172]:
pattern = r'<U\+\w{4}>'

remove_symbols = re.sub(pattern,"",sample_text)

print(remove_symbols)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# Question 29
Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [178]:
with open(r"C:\Users\surie\OneDrive\Documents\extract date.txt") as file:
    for date in file:
        date_matches = re.findall(r'\d{2}-\d{2}-\d{4}',date)
        print(date_matches)

['12-09-1992', '15-12-1999']

# Question 30
Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
    
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [179]:
target_string = """The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayListand the ArrayList is trimmed accordingly."""

In [183]:
def remove_words(string):
    pattern = re.compile(r'\b\w{2,4}\b')
    remove_strings = re.sub(pattern,"",target_string)
    return remove_strings

In [184]:
remove_words(target_string)

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayListand  ArrayList  trimmed accordingly.'