### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

**A)Rank**

**B) Name** 

**C) Artist**

**D) Upload date** 

**E) Views**

In [1]:
#importing necessory libraries

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import NoSuchElementException
import requests

In [7]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [8]:
#getting the webpage

driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [15]:
#Assigning empty lists to store most viewed youtube videos

Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [16]:
#For Name(using XPATH)
Name_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for j in Name_tags:
    ne=j.text.split("[")[0]
    Name.append(ne)
    
#For Artist(using XPATH)
Artist_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for k in Artist_tags:
    ar=k.text
    Artist.append(ar)


#For Upload_date(using XPATH)
Upload_date_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for l in Upload_date_tags:
    ud=l.text
    Upload_date.append(ud)
    
#For Upload_date(using XPATH)
Views_tags=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for m in Views_tags:
    vs=m.text
    Views.append(vs)

In [20]:
print(len(Name),len(Artist),len(Upload_date),len(Views))

30 30 30 30

In [32]:
df_for_most_viewed_videos=pd.DataFrame({'Rank':range(1,31),'Video Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views in billion':Views})

In [33]:
#DataFrame for most viewed videos on YouTube from Wikipedia

df_for_most_viewed_videos

,Rank,Video Name,Artist,Upload_date,Views in billion
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.41
2,3,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,"""Bath Song""",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.23
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",6.22
6,7,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.18
9,10,"""Gangnam Style""",Psy,"July 15, 2012",5.10
10,11,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",5.09
11,12,"""Dame Tu Cosita""",Ultra Records,"April 5, 2018",4.59
12,13,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.57
13,14,"""Axel F""",Crazy Frog,"June 16, 2009",4.45
14,15,"""Sugar""",Maroon 5,"January 14, 2015",4.02
15,16,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,"""Counting Stars""",OneRepublic,"May 31, 2013",4.00
17,18,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.98
18,19,"""Roar""",Katy Perry,"September 5, 2013",3.98
19,20,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.89
20,21,"""Sorry""",Justin Bieber,"October 22, 2015",3.78
21,22,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.75
24,25,"""Perfect""",Ed Sheeran,"November 9, 2017",3.70
25,26,"""Dark Horse""",Katy Perry,"February 20, 2014",3.70
26,27,"""Let Her Go""",Passenger,"July 25, 2012",3.64
27,28,"""Faded""",Alan Walker,"December 3, 2015",3.60
28,29,"""Girls Like You""",Maroon 5,"May 31, 2018",3.58
29,30,"""Lean On""",Major Lazer Official,"March 22, 2015",3.57

In [34]:
driver.close()

### 2. Scrape the details team India’s international fixtures from bcci.tv.Url = https://www.bcci.tv/. You need to find following details: 

**A) Series** 

**B) Place**

**C) Date** 

**D) Time**

In [38]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [39]:
#getting the webpage

driver.get("https://www.bcci.tv")

In [40]:
#Clicking fixtures using XPATH

fixture_button = driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
fixture_button.click()

In [41]:
#Assigning empty lists to store  team India’s international fixtures

series=[]
place=[]
date=[]
time=[]

In [42]:
#For series(using XPATH)
series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for j in series_tags:
    ses=j.text
    series.append(ses)
    
#For place(using XPATH)
place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for k in place_tags:
    pe=k.text
    place.append(pe)


#For date(using XPATH)
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for l in date_tags:
    de=l.text
    date.append(de)
    
#For time(using XPATH)
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for m in time_tags:
    te=m.text
    time.append(te)

In [43]:
print(len(series),len(place),len(date),len(time))

9 9 9 9

In [45]:
df_for_india_fixtures=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})

In [46]:
#DataFrame for  team India’s international fixtures from bcci.tv. 

df_for_india_fixtures

,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","2 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","6 MAY, 2024",3:30 PM IST
2,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","9 MAY, 2024",3:30 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
6,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST

In [47]:
driver.close()

### 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details:

**A)Rank**

**B)State**

**C)GSDP(18-19)- at current prices**

**D)GSDP(19-20)- at current prices**

**E)Share(18-19)**

**F)GDP($ billion)**

In [99]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [100]:
#getting the webpage

driver.get("http://statisticstimes.com")

In [103]:
#Clicking economy_button using XPATH

economy_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy_button.click()

In [104]:
#Clicking India using XPATH

India_button = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
India_button.click()

In [105]:
#Clicking GDP of India using XPATH

gdp_of_india = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_of_india.click()

In [106]:
#Assigning empty lists to store the details of State-wise GDP of India from statisticstime.com


Rank=[]
State=[]
GSDP_23_24_at_cp=[]  
GSDP_22_23_at_cp=[]
GSDP_21_22_at_cp=[]                    
Share_21_22=[]  
GDP_billion_dollars_2021=[]

In [107]:
#For Rank(using XPATH)
Rank_tags=driver.find_elements(By.XPATH,'//tbody//tr[@role="row"]/td[1]')
for j in Rank_tags:
    rk=j.text
    Rank.append(rk)
    
    
#For State(using XPATH)
State_tags=driver.find_elements(By.XPATH,'//tbody//tr[@role="row"]/td[2]')
for k in State_tags:
    se=k.text
    State.append(se)
    


#For GSDP_23_24_at_cp(using XPATH)
GSDP_23_24_at_cp_tags=driver.find_elements(By.XPATH,'//tbody//tr[@role="row"]/td[3]')
for l in GSDP_23_24_at_cp_tags:
    g_3_4=l.text
    GSDP_23_24_at_cp.append(g_3_4)
    
    
#For GSDP_22_23_at_cp(using XPATH)
GSDP_22_23_at_cp_tags=driver.find_elements(By.XPATH,'//tbody//tr[@role="row"]/td[4]')
for m in GSDP_22_23_at_cp_tags:
    g_2_3=m.text
    GSDP_22_23_at_cp.append(g_2_3)
    
    
#For GSDP_21_22_at_cp(using XPATH)
GSDP_21_22_at_cp_tags=driver.find_elements(By.XPATH,'//tbody//tr[@role="row"]/td[5]')
for m in GSDP_21_22_at_cp_tags:
    g_1_2=m.text
    GSDP_21_22_at_cp.append(g_1_2)
    
    
#For Share_21_22(using XPATH)
Share_21_22_tags=driver.find_elements(By.XPATH,'//tbody//tr[@role="row"]/td[6]')
for m in Share_21_22_tags:
    se_12=m.text
    Share_21_22.append(se_12)
    
    
#For GSDP_21_22_at_cp(using XPATH)
GDP_billion_dollars_2021_tags=driver.find_elements(By.XPATH,'//tbody//tr[@role="row"]/td[7]')
for m in GDP_billion_dollars_2021_tags:
    gbd=m.text
    GDP_billion_dollars_2021.append(gbd)

In [108]:
print(len(Rank),len(State),len(GSDP_23_24_at_cp),len(GSDP_22_23_at_cp),len(GSDP_21_22_at_cp),len(Share_21_22),len(GDP_billion_dollars_2021))

66 66 66 66 66 66 66

In [109]:
#limiting the datas because ,we need only GSDP

Rank=Rank[:33]
State=State[:33]
GSDP_23_24_at_cp=GSDP_23_24_at_cp[:33] 
GSDP_22_23_at_cp=GSDP_22_23_at_cp[:33]
GSDP_21_22_at_cp=GSDP_21_22_at_cp[:33]                  
Share_21_22=Share_21_22[:33]
GDP_billion_dollars_2021=GDP_billion_dollars_2021[:33]

In [114]:
df_for_statewise_GDP_of_India=pd.DataFrame({'Rank':Rank,'State':State,'GSDP (Cr INR at Current prices)(2023-2024)':GSDP_23_24_at_cp,
                                           'GSDP (Cr INR at Current prices)(2022-2023)':GSDP_22_23_at_cp,'GSDP (Cr INR at Current prices)(2021-2022)':GSDP_21_22_at_cp,
                                           'Share(2021-2022)':Share_21_22,'GDP(billion($)) 2021':GDP_billion_dollars_2021})

In [115]:
#DataFrame for the details of State-wise GDP of India from statisticstime.com.

df_for_statewise_GDP_of_India

,Rank,State,GSDP (Cr INR at Current prices)(2023-2024),GSDP (Cr INR at Current prices)(2022-2023),GSDP (Cr INR at Current prices)(2021-2022),Share(2021-2022),GDP(billion($)) 2021
0,1,Maharashtra,-,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,-,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%,117.660
12,13,Haryana,"1,095,535","984,055","868,905",3.68%,116.001
13,14,Odisha,"832,790","753,177","662,886",2.81%,88.497
14,15,Bihar,-,"751,396","650,302",2.76%,86.817
15,16,Punjab,"736,423","676,164","617,192",2.62%,82.397
16,17,Assam,"565,401","493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%,54.806
18,19,Jharkhand,-,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%,22.984
22,23,Goa,-,"93,672","84,266",0.36%,11.250
23,24,Tripura,-,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,-,"54,285","46,096",0.20%,6.154
25,26,Puducherry,-,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"47,381","42,697","38,785",0.16%,5.178
27,28,Sikkim,-,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%,4.643
30,31,Nagaland,-,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%,1.385

In [116]:
driver.close()

### 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: 

**A)Repository title** 

**B)Repository description**

**C)Contributors count**

**D)Language used**

In [71]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [72]:
#getting the webpage

driver.get("https://github.com/")

In [73]:
#Clicking explore menu using XPATH

explore_menu = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div/div/div/aside/div[3]/div/a")
explore_menu.click()

In [74]:
#Clicking trending option using XPATH

trending = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]")
trending.click()

In [75]:
#fetching url

trending_urls=[]
url=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in url:
    trending_urls.append(i.get_attribute('href'))

In [80]:
len(trending_urls)

25

In [103]:
#Assigning empty lists to store  trending repository details

Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [104]:
for i in trending_urls:
    driver.get(i)
    time.sleep(5)
    try:                                #fetching Repository_title
        ryt=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch d-none d-md-block"]') 
        Repository_title.append(ryt.text)
    except NoSuchElementException:
         Repository_title.append('-')
    try:                                #fetching Repository_description
        ryd=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Repository_description.append(ryd.text)
    except NoSuchElementException:
        Repository_description.append('-')
    try:                                #fetching Contributors_count
        cct=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        Contributors_count.append(cct.text)
    except NoSuchElementException:
        Contributors_count.append('-')
    try:                             #fetching Language_used
        lu=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Language_used.append(lu.text)
    except NoSuchElementException:
        Language_used.append('-')

In [105]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 25 25

In [109]:
df_for_trending_repository=pd.DataFrame({'Repository_title':Repository_title,'Repository_description':Repository_description,
                                         'Contributors_count':Contributors_count,'Language_used':Language_used})

In [110]:
#DataFrame for trending repositories on Github.com

df_for_trending_repository

,Repository_title,Repository_description,Contributors_count,Language_used
0,hydra,Hydra is a game launcher with its own embedded...,12,TypeScript
1,douyin,Vue3 + Pinia + Vite5 仿抖音，Vue 在移动端的最佳实践 . Imita...,9,Vue
2,Perplexica,Perplexica is an AI-powered search engine. It ...,-,TypeScript
3,drawdb,"Free, simple, and intuitive online database de...",9,JavaScript
4,EasySpider,A visual no-code/code-free web crawler/spider易...,-,JavaScript
5,fastapi-tips,FastAPI Tips by The FastAPI Expert!,-,-
6,zkp-hmac-communication-python,"""Zero-Knowledge"" Proof Implementation with HMA...",4,Python
7,OSWorld,OSWorld: Benchmarking Multimodal Agents for Op...,-,Python
8,jailbreak-11,Experimental PS4 jailbreak for 11.00 and lower,-,Rust
9,OpenVoice,Instant voice cloning by MyShell.,14,Python
10,azure-sdk-for-net,This repository is for active development of t...,-,-
11,z80-open-silicon,Z80 open-source silicon. Goal is to become a s...,-,Verilog
12,ConsistentID,Customized ID Consistent for human,3,Python
13,mistral.rs,Blazingly fast LLM inference.,8,Rust
14,tiny-gpu,A minimal GPU design in Verilog to learn how G...,3,SystemVerilog
15,torchtitan,A native PyTorch Library for large model training,12,Python
16,lobe-chat,"🤯 Lobe Chat - an open-source, modern-design LL...",105,TypeScript
17,path-to-senior-engineer-handbook,All the resources you need to get to Senior En...,17,-
18,the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",-,-
19,Shiro,📜 A minimalist personal website embodying the ...,-,TypeScript
20,core,Module Federation is a concept that allows dev...,1.2k,TypeScript
21,inpaint-web,A free and open-source inpainting & image-upsc...,15,TypeScript
22,flowmap,"Code for ""FlowMap: High-Quality Camera Poses, ...",-,Python
23,Chat2DB,🔥🔥🔥AI-driven data management platform Over 1 m...,28,Java
24,WeChatMsg,提取微信聊天记录，将其导出成HTML、Word、CSV文档永久保存，对聊天记录进行分析生成年...,15,Python

### 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: 
**A)Song name**

**B)Artist name**

**C)Last week rank**

**D)Peak rank**

**E)Weeks on board**

In [112]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [113]:
#getting the webpage

driver.get('https:/www.billboard.com')

In [114]:
#Clicking chart_option using XPATH

charts_option = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_option.click()

In [115]:
#Clicking hot_100_page using XPATH

hot_100_page = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
hot_100_page.click()

In [119]:
#Assigning empty lists to store top 100 songs on billiboard.com
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [120]:
#For song_name(using XPATH)
song_name_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for j in song_name_tags:
    sgn=j.text
    song_name.append(sgn)
    
#For artist_name(using XPATH)
artist_name_tags=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
for k in artist_name_tags:
    an=k.text
    artist_name.append(an)


#For last_week_rank(using XPATH)
last_week_rank_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][1]')
for l in last_week_rank_tags:
    lwr=l.text
    last_week_rank.append(lwr)
    
#For peak_rank(using XPATH)
peak_rank_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"][2]')
for m in peak_rank_tags:
    pr=m.text
    peak_rank.append(pr)
    
#For weeks_on_board(using XPATH)
weeks_on_board_rank_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"][2]')
for m in weeks_on_board_rank_tags:
    wob=m.text
    weeks_on_board.append(wob)

In [121]:
print(len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks_on_board))

100 100 100 100 100

In [123]:
df_for_top_100_songs=pd.DataFrame({'Song Aame':song_name,'Artist Name':artist_name,'Last Week Rank':last_week_rank,
                                   'Peak Rank':peak_rank,'Weeks on Board':weeks_on_board})

In [124]:
#dataframe for top 100 songs on billiboard.com

df_for_top_100_songs

,Song Aame,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,5
97,Spin You Around (1/24),Morgan Wallen,89,24,13
98,Soak City,310babii,82,53,19
99,Selfish,Justin Timberlake,60,19,13

# 6. Scrape the details of Highest selling novels. 
**A) Book name**

**B)Author name**

**C)Volumes sold**

**D)Publisher**

**E)Genre** 

**Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare**

In [126]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [127]:
#getting the webpage

driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [130]:
#Assigning empty lists to store Highest selling novels
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [131]:
#For book_name(using XPATH)
book_name_tags=driver.find_elements(By.XPATH,'//td[@class="left"][2]')
for j in book_name_tags:
    bn=j.text
    book_name.append(bn)
    
#For author_name(using XPATH)
author_name_tags=driver.find_elements(By.XPATH,'//td[@class="left"][3]')
for k in author_name_tags:
    an=k.text
    author_name.append(an)


#For volumes_sold(using XPATH)
volumes_sold_tags=driver.find_elements(By.XPATH,'//td[@class="left"][4]')
for l in volumes_sold_tags:
    vs=l.text
    volumes_sold.append(vs)
    
#For publisher(using XPATH)
publisher_tags=driver.find_elements(By.XPATH,'//td[@class="left"][5]')
for m in publisher_tags:
    pr=m.text
    publisher.append(pr)
    
#For genre(using XPATH)
genre_tags=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for m in genre_tags:
    ge=m.text
    genre.append(ge)

In [132]:
print(len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100

In [135]:
df_for_top_100_novels=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,
                       'Genre':genre})

In [136]:
#Dataframe for Highest selling novels

df_for_top_100_novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [137]:
driver.close()

### 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls512407256/ You have to find the following details: 
    
**A)Name** 

**B)Year span** 

**C)Genre** 

**D)Run time** 

**E)Ratings** 

**F)Votes**

In [7]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [8]:
#getting the webpage

driver.get('https://www.imdb.com/list/ls512407256/')

In [21]:
#Assigning empty lists to store most watched tv series of all time

Name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

In [22]:
#For Name(using XPATH)
Name_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for j in Name_tags:
    ne=j.text.split("(")[0]
    Name.append(ne)
    
#For year_span(using XPATH)
year_span_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for k in year_span_tags:
    ys=k.text
    year_span.append(ys)


#For genre(using XPATH)
genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for l in genre_tags:
    ge=l.text
    genre.append(ge)
    
#For run_time(using XPATH)
run_time_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for m in run_time_tags:
    rt=m.text
    run_time.append(rt)
    
#For ratings(using XPATH)
ratings_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
for m in ratings_tags:
    rs=m.text.split('\n')[0]
    ratings.append(rs)
    
#For votes(using XPATH)
votes_tags=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for m in votes_tags:
    vs=m.text
    votes.append(vs)

In [23]:
print(len(Name),len(year_span),len(genre),len(run_time),len(ratings),len(votes))

100 100 100 100 100 100

In [27]:
df_for_watched_tv_series=pd.DataFrame({'Name':Name,'Year_span':year_span,'Genre':genre,'Run_Time':run_time,'Ratings':ratings,'Votes':votes})

In [30]:
#dataframe for most watched tv series of all time from imdb.com

df_for_watched_tv_series

,Name,Year_span,Genre,Run_Time,Ratings,Votes
0,1. Game of Thrones,(2011–2019),"Action, Adventure, Drama",60 min,9.2,"2,285,566"
1,2. Stranger Things,(2016–2025),"Drama, Fantasy, Horror",60 min,8.7,"1,336,922"
2,3. The Walking Dead,(2010–2022),"Drama, Horror, Thriller",45 min,8.1,"1,082,458"
3,4. 13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"315,616"
4,5. The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"276,186"
...,...,...,...,...,...,...
95,96. True Detective,(2014– ),"Crime, Drama, Mystery",60 min,8.9,"656,787"
96,97. Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"163,295"
97,98. The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"115,907"
98,99. The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"436,030"
99,100. Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"139,806"

### 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You  have to find the following details: 

**A)Dataset name** 

**B)Data type** 

**C)Task**

**D)Attribute type** 

**E)No of instances** 

**F)No of attribute**

**G)Year**

In [71]:
#Initializing a chromebrowser using webdriver

driver=webdriver.Chrome()

In [72]:
#getting the webpage

driver.get('https://archive.ics.uci.edu')

In [73]:
#Clicking view datasets using XPATH

view_datasets = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_datasets.click()

In [74]:
#Clicking expand all using XPATH

expand_all = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand_all.click()

In [75]:
#Assigning empty lists to store Details of Datasets from UCI machine learning repositories.


Dataset_name=[] 
Data_type=[] 
Task=[] 
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [76]:

    #For Dataset_name(using XPATH)
    Dataset_name_tags=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]') 
    for j in Dataset_name_tags:
        dn=j.text
        Dataset_name.append(dn)
        
    #For Data_type(using XPATH)
    Data_type_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]') 
    for j in Data_type_tags:
        dt=j.text
        Data_type.append(dt)
        
    #For Task(using XPATH)   
    Task_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[1]/span') 
    for j in Task_tags:
        tk=j.text
        Task.append(tk)
        
    #For Attribute_type(using XPATH)    
    Attribute_type_tags=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]') 
    for j in Attribute_type_tags:
        at=j.text
        Attribute_type.append(at)
        
    #For No_of_instances(using XPATH)    
    No_of_instances_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[3]') 
    for j in No_of_instances_tags:
        noi=j.text
        No_of_instances.append(noi)
        
    #For No_of_attribute(using XPATH)    
    No_of_attribute_tags=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[4]') 
    for j in No_of_attribute_tags:
        noa=j.text
        No_of_attribute.append(noa)
        
    #For Year(using XPATH)    
    Year_tags=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]') 
    for j in Year_tags:
        yr=j.text
        Year.append(yr)

In [79]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

10 10 10 10 10 10 10

In [81]:
df_for_Details_of_datasets=pd.DataFrame({'Dataset Name':Dataset_name,'Data Type':Data_type,'Task':Task,
                                        'Attribute Type':Attribute_type,'No_of_instances':No_of_instances,
                                        'No_of_attribute':No_of_attribute,'Year':Year})

In [82]:
#DataFrame for Details of Datasets from UCI machine learning repositories

df_for_Details_of_datasets

,Dataset Name,Data Type,Task,Attribute Type,No_of_instances,No_of_attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A

In [83]:
driver.close()